.card-filme {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, border 0.2s;
    display: flex;
    flex-direction: column;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    }

    &.selecionado {
        img{
            border: 3px solid #f300f3;
        }
        box-shadow: 0 6px 15px rgba(0,0,0,0.3);
        transform: translateY(-5px);
    }

    .filme-poster {
        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    .filme-info {
        

        .filme-nome {
            padding-top: 10px;
            font-size: 16px;
            margin: 0 0 5px 0;
        }

        .filme-descricao {
            font-size: 0px;
        }
    }
}