.lista-filmes {
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    list-style: none;
    width: 100%;
}

.barra-busca {
    display: flex;
    align-items: center;
    position: relative;
    width: 60%;
    margin: 20px auto;
    gap: 5px;

    .botao-populares {
        padding: 8px 12px;
        border-radius: 10px;
        border: none;
        background-color: #0070f3;
        color: white;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            background-color: #005bb5;
        }
    }

    .botao-embreve {
        padding: 8px 12px;
        white-space: nowrap;
        border-radius: 10px;
        border: none;
        background-color: #0070f3;
        color: white;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            background-color: #005bb5;
        }
    }

    input {
        width: 100%;
        padding: 10px 80px 10px 15px;
        border-radius: 15px;
        border: 1px solid #ccc;
        font-size: 16px;

        &:focus {
            outline: none;
            border-color: #0070f3;
        }
    }

    .botao-fechar,
    .botao-pesquisar {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px;
        color: #555;
        transition: color 0.2s;

        &:hover {
            color: #000;
        }
    }

    .botao-fechar {
        right: 40px;
    }

    .botao-pesquisar {
        right: 10px;
    }
}
